/* ===== Main ===== */
.main-content {
    padding: 25px;
}

.titulo {
    color: #0b2a55;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.full-width {
    grid-column: span 2;
}

/* ===== Tarjetas ===== */
.card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.card h3 {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: bold;
    color: #0b2a55;
}

/* Botón editar */
.btn-editar {
    background: #0b2a55;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
}

.btn-editar:hover {
    background: #163d75;
}

/* ===== Tablas ===== */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

thead {
    background-color: #f1f1f1;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

/* ===== Detalles de sucursal ===== */
.detalle {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 14px;
}

.detalle label {
    font-weight: bold;
}

/* ===== Filtros en tabla sucursales ===== */
.filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.filtros button {
    background: #e0e0e0;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: background 0.3s;
}

.filtros button:hover {
    background: #ccc;
}

/* ===== Filtros superiores (Ciudad, Estatus, Agregar) ===== */
.filtros-superiores {
    display: flex;
    justify-content: flex-end;
    /* alineados a la derecha */
    gap: 5px;
    margin-bottom: 20px;
}

.tag {
    background: #e5e7eb;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.tag:hover {
    background: #ccc;
}

.agregar {
    background: #b8860b;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.agregar:hover {
    background: #966c3d;
}