<div class="content">
    <div class="main-content">
        <h2 class="titulo"><i class="fas fa-store"></i> Sucursales</h2>

        <!-- Filtros superiores -->
        <div class="filtros-superiores">
            <button class="agregar" (click)="irARegistrarSucursal()">
                <i class="fas fa-plus"></i> Agregar Sucursal
            </button>

        </div>

        <div class="grid-container">
            <!-- Detalles de sucursal -->
            <div class="card" *ngIf="sucursal">
                <h3><i class="fas fa-info-circle"></i> Detalles de la sucursal</h3>

                <div class="detalle"><label>Nombre</label><span>{{ sucursal.nombre }}</span></div>
                <div class="detalle"><label>Teléfono</label><span>{{ sucursal.telefono }}</span></div>
                <div class="detalle"><label>Dirección</label><span>{{ sucursal.direccion }}</span></div>
                <div class="detalle"><label>Jefe de cocina</label><span>{{ sucursal.Usuario.nombre }}</span></div>
            </div>

            <!-- Tabla de sucursales -->
            <div class="card full-width">
                <h3><i class="fas fa-building"></i> Todas las sucursales</h3>

                <div class="tabla-wrapper">
                    <table class="tabla-sucursales">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Teléfono</th>
                                <th>Jefe de cocina</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (s of sucursales; track s.id_sucursal) {
                            <tr>
                                <td>{{ s.nombre }}</td>
                                <td>{{ s.direccion }}</td>
                                <td>{{ s.telefono }}</td>
                                <td>{{ s.Usuario.nombre }}</td>
                                <td>
                                    <span class="estado" [class.activo]="s.estado === 'Activo'"
                                        [class.inactivo]="s.estado === 'Inactivo'">{{ s.estado }}</span>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>