<div class="home-jefe-container">
    <!-- ===== Contenido principal ===== -->
    <div class="content">
        <!-- Main content -->
        <main class="main-content">
            <div class="tabla-container">
                <!-- Filtros -->
                <div class="filtros">
                    <!-- Botón para mostrar todos -->
                    <button class="filtro" (click)="filtrarPorCategoria('todos')">Todos</button>

                    <button class="filtro" *ngFor="let categoria of categoriasPlato"
                        (click)="filtrarPorCategoria(categoria.nombre_categoria)">
                        {{ categoria.nombre_categoria }}
                    </button>
                </div>

                <table class="tabla">
                    <thead>
                        <tr>
                            <th>Plato</th>
                            <th>Categoría</th>
                            <th>Precio</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plato of platos">
                            <td>{{ plato.nombre }}</td>
                            <td>{{ plato.CategoriaPlato?.nombre_categoria }}</td>
                            <td>${{ plato.precio_venta }}</td>
                            <td>
                                <button class="btn eliminar" (click)="eliminarPlato(plato.id_plato)">
                                    <i class="fas fa-trash"></i> Eliminar plato
                                </button>
                            </td> <!-- Moví el botón a la celda correcta de "Acción" para mejor estructura -->
                        </tr>
                    </tbody>
                </table>

                <!-- Botones -->
                <div class="botones-acciones">
                    <button class="btn agregar" routerLink="/agregar_plato" (click)="navegarAgregarPlato()">
                        <i class="fas fa-plus"></i> Agregar plato
                    </button>
                </div>
            </div>
        </main>
    </div>
    <!-- ===== MODAL DE NOTIFICACIÓN ===== -->
    <app-modal-notificacion [visible]="modalVisible" [tipo]="modalTipo" [titulo]="modalTitulo" [mensaje]="modalMensaje"
        (cerrar)="cerrarModal()">
    </app-modal-notificacion>
</div>