<div class="solicitud-alimentos-container">
    <aside class="sidebar">
        <div class="logo">
            <img src="assets/images/KonradGourmetLogo.png" alt="Logo">
        </div>
        <nav>
            <a routerLink="/home_jefe"><i class="fas fa-home"></i> Inicio</a>
            <a routerLink="/jefe_menu"><i class="fas fa-utensils"></i> Menú</a>
            <a routerLink="/solicitud_alimento" class="active"><i class="fas fa-clipboard-list"></i> Solicitudes</a>
            <a routerLink="/inventario"><i class="fa-solid fa-box"></i> Inventario</a>
        </nav>
    </aside>

    <div class="content">
        <div class="header">
            <input type="text" placeholder="Buscar..." class="search">
            <button class="alerta"><i class="fas fa-bell"></i> 1 Alerta: Stock bajo</button>
            <div class="user">
                <i class="fas fa-user-tie"></i> Jefe de Cocina
                <button class="logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
            </div>
        </div>

        <main class="main-content">
            <h1>Solicitud de Alimentos</h1>

            <form [formGroup]="solicitudForm" class="form-solicitud" (ngSubmit)=" enviarSolicitud()">
                <div class="form-row">

                    <!-- CATEGORÍA -->
                    <div class="form-group">
                        <label>Categoría del Producto</label>
                        <select formControlName="id_categoriaProducto"
                            (change)="consultarProductoPorCategoria(solicitudForm?.get('id_categoriaProducto')?.value)">
                            <option value="">Seleccione una categoría</option>
                            <option *ngFor="let cat of categoriasProducto" [value]="cat.id_categoria">
                                {{ cat.nombre_categoria }}
                            </option>
                        </select>
                    </div>

                    <!-- PRODUCTO -->
                    <div class="form-group small-medium">
                        <label>Producto</label>
                        <select formControlName="id_producto">
                            <option value="">Seleccione un producto</option>
                            <option
                                *ngFor="let p of productosPorIngrediente[solicitudForm?.get('id_categoriaProducto')?.value]"
                                [value]="p.id_producto">
                                {{ p.nombre }}
                            </option>
                        </select>
                    </div>

                    <!-- MARCA -->
                    <div class="form-group small-medium">
                        <label>Marca</label>
                        <select formControlName="id_marca">
                            <option value="">Seleccione marca</option>
                            <option *ngFor="let u of marcas" [value]="u.id_marca">
                                {{ u.nombre_marca }}
                            </option>
                        </select>
                    </div>

                    <!-- CANTIDAD -->
                    <div class="form-group small">
                        <label>Cantidad</label>
                        <input type="number" formControlName="cantidad" placeholder="Ej: 10">
                    </div>

                    <!-- UNIDAD -->
                    <div class="form-group small">
                        <label>Unidad</label>
                        <select formControlName="id_unidadMedida">
                            <option value="">Seleccione unidad</option>
                            <option *ngFor="let u of unidades" [value]="u.id_unidad">
                                {{ u.nombre_unidad }}
                            </option>
                        </select>
                    </div>

                </div>

                <!-- BOTONES -->
                <div class="form-botones">
                    <button type="button" class="btn-guardar" (click)="enviarSolicitud()">
                        <i class="fas fa-paper-plane"></i> Enviar solicitud
                    </button>
                    <button type="button" class="btn-cancelar" (click)="cancelar()">
                        Cancelar
                    </button>
                </div>
            </form>
        </main>
    </div>
    <app-modal-notificacion [visible]="modalVisible" [tipo]="modalTipo" [titulo]="modalTitulo" [mensaje]="modalMensaje"
        (cerrar)="cerrarModal()">
    </app-modal-notificacion>
</div>